<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="index.html">Egghead.io Applications </a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Lessons</a>
        <ul class="dropdown">
          <li class="has-dropdown"><a href="#">Lessons 1-10</a>
            <ul class="dropdown">
              <li ng-repeat="lesson in directory | limitTo:10"><a href="{{ lesson.path }}">{{ lesson.no }}: {{ lesson.title }} ({{ lesson.length }})</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Lessons 11-20</a>
            <ul class="dropdown">
              <li ng-repeat="lesson in directory | limitTo:20 | limitTo:-10"><a href="{{ lesson.path }}">{{ lesson.no }}: {{ lesson.title }} ({{ lesson.length }})</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Lessons 21-30</a>
            <ul class="dropdown">
              <li ng-repeat="lesson in directory | limitTo:30 | limitTo:-10"><a href="{{ lesson.path }}">{{ lesson.no }}: {{ lesson.title }} ({{ lesson.length }})</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Lessons 31-40</a>
            <ul class="dropdown">
              <li ng-repeat="lesson in directory | limitTo:40 | limitTo:-10"><a href="{{ lesson.path }}">{{ lesson.no }}: {{ lesson.title }} ({{ lesson.length }})</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Lessons 41-45</a>
            <ul class="dropdown">
              <li ng-repeat="lesson in directory | limitTo:-5"><a href="{{ lesson.path }}">{{ lesson.no }}: {{ lesson.title }} ({{ lesson.length }})</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
